html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#timer {
  margin-left: 40px;
  display: inline;
}
/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .reset {
    float: right;
    cursor: pointer;
}

/*
 * Styles for the Modal
 */
.modal-content {
    text-align: center;
}

ul.modal-stars {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.modal-stars li {
    padding-right: 16px;
}

button.reset {
    font-size: 1.5em;
    padding: .5em;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    margin-top: 16px;
}

button:hover {
    color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,.5)
}

@media (max-width: 480px) {
  body {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  }

  h1 {
    font-size: 3rem;
    color: #fff;
  }

  .deck {
    width: 100%;
    justify-content: space-between;
    border-radius: 0px;
    background: none;
    box-shadow: none;
  }

  .deck .card {
    width: 23%;
    height: 5rem;
  }

  .deck .card.show {
      font-size: 3rem;
  }

  .score-panel {
    text-align: left;
    color: #fff;
    width: 345px;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .score-panel .stars li {
    list-style: none;
    display: inline-block;
  }

  .modal-content {
    width: 80%
  }

  .modal-title {
    color: #000;
  }

  .modal-stars {
    font-size: 3rem;
  }

  button.reset {
    font-size: 3rem;
    color: #fff;
  }
}
